ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
}

li {
  color: white;
  text-decoration: none;
  margin: 25px 30px 15px 15px;
  font-size: 20px;
}

li:hover {
 color: rgb(42,68,85);
}

.link {
  text-decoration: none;
  position: relative;
}

.link:active {
  opacity: 0.8;
}

.logout{
  margin-left: 60px;
}

.img-logo {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

.navbar-logo {
  float:left;
  margin-bottom: 1px solid;
}

nav {
  border-bottom: 1px solid white;
}

.logo-title {
padding-bottom: 20px;
}
