.plant-card {
  background-color: rgba(0,0,0,0.3);
  border: 2px solid white;
  border-radius: 20px;
  margin: 20px;
  font-size: 15px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 100px;
  align-items: center;
  width: 350px;
  height: auto;
}

.upload-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #ffff;
}

.image-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.plant-card h2 {
  color: white;
}

.plant-card span {
  color: #cfcfc4;
  font-weight: lighter;
}

.plantcard-values {
  border-top: 2px solid #fff ;
  padding-top: 10px;
  word-wrap: break-word;
}

.delete-icon {
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  padding: 10px;
}

.delete-icon:hover {
  opacity: 0.8;
}

