.plant-card {
  background-color: rgba(0,0,0,0.3);
  border: 2px solid white;
  border-radius: 20px;
  margin: 20px;
  font-size: 15px;
  padding: 15px;
  padding-top: 30px;
  align-items: center;
  width: auto;
}

.plant-card h2 {
  color: white;
}

.plant-card span {
  color: #cfcfc4;
}

.delete-icon {
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  padding: 10px;
}

.delete-icon:hover {
  opacity: 0.8;
}
